# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
*.cover
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml
*.mo
*.pot

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# pytest
.pytest_cache/
.cache/

# PyCharm
.idea/
*.iml


# OS/environment-specific
*.bak
*.tmp

# dependencies
frontend/node_modules

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
